*.swap
*.swp
*.ruby.exe.stackdump
.svn
.project
.settings
.sass-cache
*.DS_Store
public/.DS_Store
public/host_ip
public/keys.html
version
public/scripts/env.js
public/_src
.idea
yuidoc.json
public/index.php
atlassian-ide-plugin.xml
clean.sh
clean.js
